.search_bar_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search_bar_input {
  background: #f4f4f4;
  border: 1px solid grey;
  width: 225px;
  height: 24px;
  padding-left: 10px;
}

.search_bar_input:focus {
  border: 1px solid #1564ff;
  outline: none;
}

.search_page_title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
}

.details_content_greed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 50%;
  width: 100%;
}

.details_content_item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border: 3px solid white;
}

.meal_img {
  width: 100%;
}

.sub_text_row {
  display: flex;
  justify-content: center;
}

.sub_text:nth-last-child(1) {
  padding-left: 15px;
}

.drink_img_wrapper {
  display: flex;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 2%;
  justify-content: center;
}

.main_text {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  font-size: 18px;
}

.sub_text {
  text-align: center;
  color: white;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
}

.cocktail_title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  font-size: 23px;
}

.link {
  text-decoration: none;
}

.ingredients_column {
  padding-left: 3%;
  padding-right: 3%;
}
