body {
  margin: 0px;
  text-decoration: none;
}

.app_wrapper {
  background: #230312;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-attachment: fixed;
}

.app_title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
}

.menu_wrapper {
  display: flex;
    padding-bottom: 6%;
    justify-content: flex-end;
    padding-right: 5%;
padding-top: 5%;
}




@media (max-width: 768px) {
  .menu_wrapper {
    display: flex;
  } 
}