.title {
    text-align: center;
    font-size: 30px;
    color: white;
}

.meal_img {
  width: 88%;
  padding-top: 20px;
}

.card_wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding-top: 50px;
    justify-content: center;
    padding-bottom: 50px;
    align-items: baseline;
}